.table-container {
  border-collapse: collapse;
}
/* thead-row 헤드 가로*/
.th-row {
  height: 45px;
  background-color: #555;
  color: #fff;
  text-align: center;
}

.tb-row {
  height: 40px;
  text-align: center;
}

.th-checkbox,
.td-checkbox {
  width: 45px;
  min-width: 45px;
}

.th-title,
.td-title {
  width: 100%;
}

.th-detail,
.td-detail {
  width: 250px;
  min-width: 200px;
}

th,
td {
  border: 1px solid #000;
  padding: 0 15px;
}

.todo-done {
  text-decoration: line-through;
}

.todo-not-done {
  text-decoration: unset;
}
